.category-box {
    width: 75%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 10px;
}
.category {
    padding: 10px;
}
.category-header > p {
    font-size: 16px;
    font-weight: bold;
}
.category-item {
    display: flex;
    flex-wrap: wrap;
}
.category-item-link {
    text-decoration: none;
    min-width: 40px;
    text-align: center
    font-weight: bold;
    color: black;
    font-size: 8px;
    padding: 8px;
    margin: 5px 10px
    transition: .2s;
    border-radius: 6px;
    display: block;
    text-align: center;
    background-color: #F5F7FA;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.category-item-link:hover {
    color: #335eea;
} 
@media screen and (max-width: 450px) {
    .category-box {
        width :90%;
    }
}   