.friend-box {
    display: flex;
    justify-content: center;
}
.friends {
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.friends-item img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    transition: 1s;
    transform-style: preserve-3d;
    
}
.friends-item img:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 1s;
}
.friends-item {
    width: 150px;
    height: 150px;
    background-color: #f9f9f9;
    display: flex
    padding: 32px;
    margin: 10px;
    border-radius: 6px;
    align-items: center;
    flex-direction: column;
}
.friends-item a {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

