* {
    margin: 0;
    padding: 0;
    border: 0;
}
::-webkit-scrollbar{

    display:none;

}
p {
    font-size: 15px;
}
body {
    background-image:url(convert(hexo-config('background')))
    background-size: 100%
    background-repeat:no-repeat;
}

$theme-border-radius = convert(hexo-config('theme-border-radius'))
@import "post-list.styl"
@import "header.styl"
@import "footer.styl"
@import "post.styl"
@import "archive.styl"
@import "friend.styl"
@import "paginator.styl"
@import "category.styl"
@import "tag-cloud.styl"
@import "back-to-top.styl"








































