.paginator {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 50px auto 5vh;
}
.page-number.current {
    color: #fff;
    background: #c08eaf;
    border-color: #c08eaf;
    box-shadow: 2px 2px 4px #c08eaf;
}
.paginator >* {
    min-width: 35px;
    height: 35px;
    line-height: 33px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.paginator >*.extend {
    font-size: 12px;

}
.paginator a {
    text-decoration: none;
    color #000;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
